In [3]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import numpy as np

In [4]:
# Germanic Language Family
df = pd.read_csv("/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Germanic/english-general_american.csv")
df2 = pd.read_csv("/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Germanic/english-received_pronunciation.csv")
df3 = pd.read_csv("/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Germanic/german.csv")
df4 = pd.read_csv("/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Germanic/swedish.csv")
df5 = pd.read_csv("/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Germanic/norwegian-bokmal.csv")

#Romance Language Family
df6 = pd.read_csv("/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Romance/french-france.csv")
df7 = pd.read_csv("/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Romance/french-quebec.csv")
df8 = pd.read_csv('/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Romance/spanish-mexico.csv')
df9 = pd.read_csv('/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Romance/spanish-spain.csv')

#Sino-Tebetan Family
df10 = pd.read_csv('/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Sino-Tebetan/cantonese.csv')
df11 = pd.read_csv('/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/Sino-Tebetan/mandarin.csv')

#Japonic
df12 = pd.read_csv('/Users/vincent/Git/PronunciationProject/NamePronunciationProject/ipa_dicts/japanese.csv')

datasets = {"Germanic": [df,df2,df3,df4,df5], "Romance": [df6,df7,df8,df9], "ST":[df10,df11], "Japonic": [df12]}

/opt/homebrew/Caskroom/miniforge/base/envs/ENG_FAM/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
df

,Word,Pronunciations,AltPronunciations1,AltPronunciations2,AltPronunciations3
0,'bout,/ˈbaʊt/,NaN,NaN,NaN
1,'cause,/kəz/,NaN,NaN,NaN
2,'course,/ˈkɔɹs/,NaN,NaN,NaN
3,'cuse,/ˈkjuz/,NaN,NaN,NaN
4,'em,/əm/,NaN,NaN,NaN
...,...,...,...,...,...
125922,zysk,/ˈzaɪsk/,NaN,NaN,NaN
125923,zyskowski,/zɪˈskɔfski/,NaN,NaN,NaN
125924,zyuganov,/ˈzjuɡɑnɑv/,/ˈzuɡɑnɑv/,NaN,NaN
125925,zyuganov's,/ˈzjuɡɑnɑvz/,/ˈzuɡɑnɑvz/,NaN,NaN
125926,zywicki,/zɪˈwɪki/,NaN,NaN,NaN

In [23]:
df2

             aah           /ˈɑː/
0       aardvark      /ˈɑːdvɑːk/
1      aardvarks     /ˈɑːdvɑːks/
2       aardwolf      /ˈɑːdwʊlf/
3            aba          /ɐbˈæ/
4          abaca        /æbˈækɐ/
...          ...             ...
65112     zydeco  /za‍ɪdˈiːkə‍ʊ/
65113     zygoma   /za‍ɪɡˈə‍ʊmɐ/
65114     zygote    /zˈa‍ɪɡə‍ʊt/
65115    zygotic    /za‍ɪɡˈɒtɪk/
65116          z          /zˈɛd/

[65117 rows x 2 columns]

In [18]:
df3

           Aachen       /ˈaːχən/
0         Aachens      /ˈaːçɛns/
1             Aal          /aːl/
2            Aale       /ˈʔaːlə/
3           Aalen       /ʔɑalən/
4           Aales      /ˈʔaːləs/
...           ...            ...
278909  Zypressen  /ˈtsʏpɾɛszən/
278910   Zypresse   /ˈtsʏpɾɛszə/
278911     Zysten     /ˈtsʏstən/
278912      Zyste     /ˈt͡sʏstə/
278913       zzgl        /ˈtsgl/

[278914 rows x 2 columns]

In [19]:
df4

           -procentig        /prʊsɛnːtɪg/
0            -tonnare           /tɔnːarɛ/
1             -vänlig           /vɛnːlɪg/
2              -väsen           /v'ɛːsɛn/
3              -öring             /øːrɪŋ/
4                   à                 /a/
...               ...                 ...
21100  övningskörning   /²'øːvnɪŋsɕøːɳɪŋ/
21101   övningslärare  /²'øːvnɪŋslɛːrarɛ/
21102            övre            /'øːvrɛ/
21103           övrig          /²'øːvrɪg/
21104          övärld          /²'øːvɛːɖ/

[21105 rows x 2 columns]

In [20]:
df5

          abbor        /ɑbɔɾ/
0      abdisere  /ɑbdɪˈseːɾə/
1        abnorm     /ɑbˈnɔɾm/
2      abonnere   /ɑbʊˈneːɾə/
3         abort       /ɑˈbɔʈ/
4      abortere   /ɑbɔˈʈeːɾə/
...         ...           ...
10166  årligste   /ˈoːɭɪkstə/
10167     årsak      /oːʂɑːk/
10168    årstid     /ˈoːʂtiː/
10169   årvåken  /ˈoːɾʋoːkən/
10170      åtte        /ˈɔtə/

[10171 rows x 2 columns]

In [11]:
for i in df2['alt2']:
    if not i == np.nan:
        print(i)

KeyError: 'alt2'

In [ ]:
def noslash(s):
    return s.replace("/", "")

In [ ]:
df['newPron'] = df['Pronunciations'].map(noslash)
#df2['newPron'] = df2['pronunciation'].map(noslash)
df3['newPron'] = df3['pronunciation'].map(noslash)

In [ ]:
allchars = []
index = 0
for i in df3['newPron']:
    if index%10000 == 0:
        print(index)
    for j in i:
        if not j in allchars:
            allchars.append(j)
    index+=1

In [ ]:
len(allchars)

In [ ]:
df

In [ ]:
tempdfarr = []
for i in df['newPron']:
    temp = [i]
    for j in allchars:
        if j in i:
            temp.append(1)
        else:
            temp.append(0)
    temp.append(1)
        
    tempdfarr.append(temp)
# for i in df2['newPron']:
#     temp = [i]
#     for j in allchars:
#         if j in i:
#             temp.append(1)
#         else:
#             temp.append(0)
#     temp.append(0)
#     tempdfarr.append(temp)
for i in df3['newPron']:
    temp = [i]
    for j in allchars:
        if j in i:
            temp.append(1)
        else:
            temp.append(0)
    temp.append(0)
    tempdfarr.append(temp)

In [ ]:
dummydf = pd.DataFrame(tempdfarr)
dummydf

In [ ]:
dummydf.columns = ['word'] + allchars + ['OUT']

In [ ]:
dummydf

In [ ]:
shuffled = dummydf.sample(frac=1)

In [ ]:
allmodels = []
loss_arr =[(tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), "SCCE")]
size_arr=[32,64, 128] 
optimizer_arr =[(keras.optimizers.RMSprop(),"RMS"), (keras.optimizers.Adam(), "ADAM")] #, (keras.optimizers.Adadelta(), "ADADELTA"), (keras.optimizers.Adagrad(), "ADAGRAD")]
activation_arr = ['linear', 'relu', 'tanh']
layer_arr = [1,2,3]
for loss_object in loss_arr:
    for optimizers in optimizer_arr:
        for act in activation_arr:
            for size in size_arr:
                for layersx in layer_arr:
                    inputs = keras.Input(shape=(52,))
                    x = layers.Dense(size, activation=act)(inputs)
                    for i in range(layersx - 1):
                        x = layers.Dense(size, activation=act)(x)
                
                
                    outputs = layers.Dense(1)(x)

                    # Name of model based on its features



                    nameofmodel = str(size) +"x" + str(layersx) + "_Dense_" + loss_object[1] +"_" + optimizers[1] + "_" + act

                    # Connects the layers into a model
                    model = keras.Model(inputs=inputs, outputs=outputs, name= "%s" % nameofmodel) 

                    # Compiles the model so it is ready to be fitted
                    model.compile(loss=loss_object[0],
                                  optimizer=optimizers[0],
                                  metrics=['accuracy'])

                    # Adds the model to the array
                    allmodels.append(model)

In [ ]:
target = pd.DataFrame()
target['OUT'] = shuffled['OUT']

In [ ]:
target

In [ ]:
shuffled = shuffled.drop(['OUT'], axis = 1)

In [ ]:
allmodels[0]

In [ ]:
history = allmodels[0].fit(shuffled[:120000].to_numpy(), target[:120000].to_numpy())

In [ ]:
model2 = tf.keras.Sequential([
        # Shape [batch, time, features] => [batch, lstm_units]
        # Adding more `lstm_units` just overfits more quickly.
        tf.keras.layers.Dense(20, activation='relu'),
        
        tf.keras.layers.Dense(20,  activation='relu'),
        
        # Shape => [batch, out_steps*features]
        tf.keras.layers.Dense(1, activation = 'sigmoid'),
        ])

In [ ]:
model2.compile(optimizer='Adam',
                 loss=tf.losses.BinaryCrossentropy(),
                 metrics=['accuracy'])

In [ ]:
X_train = shuffled.drop(['word'], axis=1)[:6000]
y_train = target[:6000]
X_test = shuffled.drop(['word'], axis=1)[-6000:]
y_test = target[-6000:]

In [ ]:
model2.fit(X_train, y_train, epochs=10, batch_size=1,validation_data=(X_test,y_test), verbose = 1)

In [ ]:
predictions = model2.predict(X_test)

In [ ]:
xxx = 0
i = 0
temparr = shuffled['word'][-6000:]
for i in range(len(predictions)):
    if predictions[i][0].round() != y_test['OUT'].to_numpy()[i]:
        print(i)
        print(predictions[i][0].round(),y_test['OUT'].to_numpy()[i])
        print(temparr.to_numpy()[i])

In [ ]:
total = 0
for i in target['OUT'][:700000]:
    total += i
print(total/700000)